/* src/components/Header.css */

.header {
  background-color: #343a40;
  padding: 20px;
  border-bottom: 2px solid #007bff;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  margin: 0;
  padding: 0;
}

.header ul li {
  margin: 0 15px;
}

.header ul li a,
.header ul li button {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: inherit; /* Asegura la misma fuente */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center; /* Alinea el texto verticalmente */
}

.header ul li a:hover,
.header ul li button:hover {
  background-color: #007bff;
  color: white;
}

/* Posición de Cerrar Sesión a la derecha */
.logout-container {
  margin-left: auto; /* Empuja el botón de cerrar sesión a la derecha */
}

/* Botón de "Cerrar Sesión" */
.logout-button {
  background-color: #dc3545;
  color: white;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Botones de "Iniciar Sesión" y "Registrarse" */
.login-button,
.register-button {
  background-color: #28a745;
  color: white;
}

.login-button:hover,
.register-button:hover {
  background-color: #218838;
}
