.examen-list-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e0f0ff; /* Cambiado a azul claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.examen-list-container ul {
  list-style-type: none;
  padding: 0;
}


.examen-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Añade un pequeño espacio entre los elementos principales */
}

.examen-list-container li div {
  flex-grow: 1;
}
.examen-list-container .actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: nowrap; /* Asegura que no se separen a otra línea */
}


.examen-list-container .edit-button,
.examen-list-container .delete-button {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  color: ·#e0f0ff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.examen-list-container .edit-button:hover {
  background-color: #0056b3;
}

.examen-list-container .delete-button {
  background-color: #dc3545;
}

.examen-list-container .delete-button:hover {
  background-color: #c82333;
}

.crear-examen-container {
  margin-top: 40px; /* Espaciado entre la lista de exámenes y los botones */
  display: flex;
  gap: 20px;  /* Añadir espacio entre los botones */
  justify-content: center; /* Centrar ambos botones en el contenedor */
}

.examen-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #e0f0ff;
}

.crear-examen-button,
.crear-examen-txt-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body {
  background-color: #e0f0ff; /* Fondo azul claro que cubre toda la página */
  margin: 0; /* Elimina el margen para que el color cubra toda el área visible */
  padding: 0;
  font-family: Arial, sans-serif; /* Asegura una tipografía consistente */
}

.crear-examen-button:hover,
.crear-examen-txt-button:hover {
  background-color: #218838;
}

.crear-examen-txt-button {
  background-color: #17a2b8; /* Color diferente para el botón "Crear Examen desde TXT" */
}

.crear-examen-txt-button:hover {
  background-color: #138496;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease; /* Añade un suave efecto de entrada */
}

.close-modal-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #007bff; /* Color destacado */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-modal-button:hover {
  color: #0056b3; /* Cambia de color al pasar el ratón */
}


/* Animación para el modal */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}