/* src/styles/Home.css */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .home-content {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
  }
  
  .create-exam-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .create-exam-button:hover {
    background-color: #0056b3;
  }
  
  .auth-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .auth-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  